<h1>Musicians</h1>
<h2>{{musician.username}}</h2>
<img src="{{musician.imageUrl}}" alt="{{username}}" srcset="">
<p>{{musician.mediaLinks}}</p>

{{#each musician.instruments}}
 {{this}}
{{/each}}
<br>
 <a href="/profile">Update musician</a>