
<div class="side-bar">
    <aside>

<h1>Musician Profile</h1>

<div class="userimg">
    <img src="{{musician.imageUrl}}" alt="{{username}}" srcset=""style="height:250px;width:200px;">
</div>
<ul>
<h2>{{musician.username}}</h2>
<p>
    {{#each musician.description}} 
    {{this}}
    {{/each}}
</p>

<br>

<p>
    {{#each musician.bands}} 
    {{this}}
    {{/each}}
</p>

<p>
    {{#each musician.instruments}} 
    {{this}}
    {{/each}}
</p>

<p>
    {{#each musician.genres}} 
    {{this}}
    {{/each}}
</p>
<p>
    {{#each musician.mediaLinks}} 
    {{this}}
    {{/each}}
</p>

<p>{{musician.mediaLinks}}</p>

<a href="/profile">Update musician</a>

<button> Connect </button>

</ul> 

</aside>
</div>


