
<div class="side-bar">
    <aside>

<h1>Musician Profile</h1>

<div class="userimg">
    <img src="{{musician.imageUrl}}" alt="{{username}}" srcset=""style="height:250px;width:200px;">
</div>
<ul>
    {{#unless isMyself}}
<h2>{{musician.username}}</h2>
     {{/unless}}
<br>

<p>
    {{#each musician.bands}} 
    {{this}}
    {{/each}}
</p>

<p>
    {{#each musician.instruments}} 
    {{this}} 
    {{/each}}
</p>

<p>
    {{#each musician.genres}} 
    {{this}}
    {{/each}}
</p>
<p>
    {{#each musician.mediaLinks}} 
    {{this}}
    {{/each}}
</p>

<p>{{musician.mediaLinks}}</p>
{{#if isMyself}}
<a href="/profile/edit">Update My Profile</a>

{{else}}
<form action="/connect/{{musician._id}}" method="get">
{{#if isPending}}

<button disabled>Pending...</button>
{{else}}
<button type="submit"> Connect </button>

{{/if}}

</form>

{{/if}}
</ul> 

</aside>
</div>


