
<div class="profile">

 <div class="box-one">

<div class="userimg">
    <img src="{{musician.imageUrl}}" alt="{{username}}" srcset=""style="height:200px;width:200px;">
</div>

<ul>
    {{#unless isMyself}}
<h2>{{musician.username}}</h2>
     {{/unless}}

<br>

{{#if notifications}}
{{#each notifications}}
<div>
    <p>{{this.username}} wants to connect !</p>
    <a href="/connect/accept/{{this._id}}">Accept</a>
    <a href="/connect/decline/{{this._id}}">Decline</a>
</div>
{{/each}}
{{/if}}

</div>
{{!-- <p>
    {{#each musician.bands}} 
    {{this}}
    {{/each}}
</p> --}}
<div class="box-two">
<div>
    <h6>Instruments:</h6>
<p> {{ musician.instruments}}</p>
</div>

<div>
    <h6>Genre:</h6>
    <p>{{ musician.genres}} </p>
</div>

<div>
    <h6>Media Links:</h6>
    <p>{{ musician.mediaLinks}}</p>
</div>

<div>
    <h6>Description:</h6>
    <p>{{musician.description}}</p>
</div>

</div>

<div class="box-three">

{{#if isMyself}}
<a href="/profile/edit">Update My Profile</a>

{{else}}


{{#unless isMatch}}
<form action="/connect/{{musician._id}}" method="get">

{{#if isPending}}

<button disabled>Pending...</button>

{{else}}

<button type="submit"> Connect </button>

{{/if}}

</form>
{{/unless}}

{{/if}}


{{#unless isMyself}}
<form action="/message/{{musician._id}}" method="post">
    <label for="messages"> Comment </label>
    <textarea name="messages"  id="messages" cols="40" rows="4"></textarea>
    <button type="submit">Send</button>
</form>
{{/unless}}

{{#each messages}}
<ul>
    <li> {{this.username}}: {{this.messages}}</li>
</ul>

{{/each}}


</div>


</div>

{{!-- for messages btw musician --}}



<div>
    <h3>connnections</h3>
    <div class="row">
{{#each successfulMatch}}
<div class="col">
  <div class="card h-100">
    <img
      class="card-img-top"
      src="{{this.imageUrl}}"
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">{{this.username}}</h5>
      <p class="card-text">Plays: {{this.instruments}}
    </div>
     <div class="card-footer">
      <small class="text-muted">
          <a href="{{this._id}}">See more</a></p>
      </small>
    </div>
  </div>
</div>

{{/each}}
</div>
</div>
