
<link rel="stylesheet" href="/stylesheets/style.css" />
{{!-- <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet"> --}}
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3efff7e684.js" crossorigin="anonymous"></script>
<div class="header">

<body>

<div class="bg-img">
  <div class="container">
    <div class="topnav">
       <h2>Band Match</h2>
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="/musicians/list">Musicians</a>
      <a href="/bands/list">Bands</a>

      {{#if musician}} 
      <a href="/musicians/musicianProfile">Musician's profile</a>
      <a href="/band-profile">Band profile</a>
      
      

      {{else}}
      <a href="/auth/presignup">Sign up</a>
      <a href="/auth/login">Login</a>

      {{/if}}

      {{!-- {{#if band}}
      <h2>Welcome, {{ band.bandname }}!</h2>

      {{/if}} --}}
      
    </div>
  </div>

  <form id="logout-form" action="/logout" method="POST">
         <button class="buttons">Logout</button>
      </form>


<div class="maincontent">

{{#if loggedinuser}}
  <h2>Welcome, {{ loggedinuser.bandname }} {{loggedinuser.username}}!</h2>
  <p>This is your profile page my friend!</p>

{{else}}
  <p>Still no logged in musician, sorry!</p>
{{/if}}

</div>

</div>

</body>

 <footer>
<div class="footer-content">
  <h3>Something</h3>
  <p>It has survived not oIt was with desktop publishing software like Aldus PageMaker including desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<ul class="socialmedia">
  <li><a href="#">Facebook</a></li>
  <li><a href="#">Instagram</a></li>
  <li><a href="#">Twitter</a></li>
  </div> 
  <div class="footer-bottom">
    <p>copyright &copy;2022 designed by <span>Dina Abdlebary</span></p>
  </div>
</ul>
  </footer>
